* {
    -light-blue: #D6FCFF;
    -light-turquoise: #9AE5E6;
    -dark-turquoise: #7cbebf;
    -light-brown: #faf5f0;
    -cold-light-brown: #e3dcdc;
    -cold-medium-brown: #e0d1d1;
    -medium-brown: #dec9c8;
    -cold-dark-brown: #c9b4b3;
    -dark-brown: #32161F;
}

.root {
    -fx-background-color: -light-blue;
    -fx-font-size: 20px;
}

.child-layout {
    -fx-background-color: -light-blue;
}

.text-field {
    -fx-background-color: -medium-brown;
}

.button {
    -fx-background-color: -light-blue;
    -fx-border-color: -dark-turquoise;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.button-bar .button:default {
    -fx-background-color: -light-turquoise;
}

.icon-button {
    -fx-background-color: -light-blue;
    -fx-border-color: transparent;
    -fx-padding: 8;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.icon-button SVGPath {
    -fx-scale-x: 0.06em;
    -fx-scale-y: 0.06em;
}

.icon-button:hover, .button:hover {
    -fx-background-color: -light-turquoise;
}

.icon-button:pressed, .button:pressed, .button-bar .button:default:pressed {
    -fx-background-color: -dark-turquoise;
}

.list-view {
	-fx-background-insets: 0;
}

.list-view.message-list, .list-view.message-list .list-cell {
    -fx-background-color: -light-brown;
}

.list-view.message-list .list-cell .message-box {
    -fx-background-radius: 16;
    -fx-padding: 4;
}

.list-view.message-list .list-cell .message-box.logged-in-user-message {
    -fx-background-color: -dark-turquoise;
}

.list-view.message-list .list-cell .message-box.other-user-message {
    -fx-background-color: -light-blue;
}

.list-view.chatroom-list {
    -fx-background-color: -cold-light-brown;
}

.list-view.chatroom-list .list-cell:hover {
    -fx-background-color: -cold-medium-brown;
}

.chatroom-header {
    -fx-background-color: -medium-brown;
}

.chatroom-header .icon-button {
    -fx-background-color: -medium-brown;
}

.chatroom-header .icon-button:hover {
    -fx-background-color: -light-brown;
}

.chatroom-header .icon-button:pressed {
    -fx-background-color: -cold-dark-brown;
}

.alert {
    -fx-padding: 10;
}

.alert .content, .alert .button-bar .container, .alert .graphic-container {
    -fx-padding: 0;
}
