* {
    -light-blue: #D6FCFF;
    -light-turquoise: #9AE5E6;
    -dark-turquoise: #7cbebf;
    -warm-light-brown: #fff4ed;
    -cold-light-brown: #f2e7e6;
    -cold-medium-brown: #dec9c8;
    -cold-dark-brown: #c9b4b3;
    -dark-brown: #32161F;
}

.root {
    -fx-background-color: -light-blue;
}

.child-layout {
    -fx-background-color: -light-blue;
}

.text-field {
    -fx-background-color: -cold-medium-brown;
}

.icon-button {
    -fx-padding: 4px;
    -fx-background-color: -light-blue;
}

.icon-button:hover {
    -fx-background-color: -light-turquoise;
}

.icon-button:pressed {
    -fx-background-color: -dark-turquoise;
}

.list-view {
    -fx-background-color: -cold-light-brown;
}

.chatroom-header {
    -fx-background-color: -cold-medium-brown;
}

.chatroom-header .icon-button {
    -fx-background-color: -cold-medium-brown;
}

.chatroom-header .icon-button:hover {
    -fx-background-color: -cold-light-brown;
}

.chatroom-header .icon-button:pressed {
    -fx-background-color: -cold-dark-brown;
}